.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.card {
  border-radius: 0 !important;
}

.card:hover {
  border: 1px solid #007bff;
}

.card-body {
  padding: 0.5rem !important;
}

#rating img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.yellow,
.yellow1 {
  background-color: yellow;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .bgColor {
  background-color: aqua;
}
body .bg-light {
  background-color: cornflowerblue;
}
